#--------------------------------------------------------------------
# Example Environment Configuration file
#
# This file can be used as a starting point for your own
# custom .env files, and contains most of the possible settings
# available in a default install.
#
# By default, all of the settings are commented out. If you want
# to override the setting, you must un-comment it by removing the '#'
# at the beginning of the line.
#--------------------------------------------------------------------

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = development
#CI_ENVIRONMENT = production


#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
app.baseHost = 'blacktyres.loc'
app.baseURL = 'https://blacktyres.loc/'
# If you have trouble with `.`, you could also use `_`.
# app_baseURL = ''
app.forceGlobalSecureRequests = false

app.gtmEnabled = false
app.gtmCounter = 'GTM-KF76H7H'

app.captchaEnabled    = false
app.captchaPrivateKey = '6Lfg6PQmAAAAAGwmS9vcvy1WUOJIxV1taWZ0pS23'
app.captchaPublicKey  = '6Lfg6PQmAAAAABk1OGFUvtW2iXNEZdCxIvD81uOx'

# app.sessionDriver = 'CodeIgniter\Session\Handlers\FileHandler'
# app.sessionCookieName = 'ci_session'
# app.sessionExpiration = 7200
# app.sessionSavePath = null
# app.sessionMatchIP = false
# app.sessionTimeToUpdate = 300
# app.sessionRegenerateDestroy = false

# app.CSPEnabled = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname   = localhost
database.default.database   = ci4
database.default.username   = root
database.default.password   = 'password'
database.default.DBDriver   = MySQLi
# database.default.DBPrefix =
# database.default.port     = 3306

database.old.hostname   = localhost
database.old.database   = ci1
database.old.username   = root
database.old.password   = 'password'
database.old.DBDriver   = MySQLi
# database.old.DBPrefix =
# database.default.port = 3306

#--------------------------------------------------------------------
# CONTENT SECURITY POLICY
#--------------------------------------------------------------------

# contentsecuritypolicy.reportOnly = false
# contentsecuritypolicy.defaultSrc = 'none'
# contentsecuritypolicy.scriptSrc = 'self'
# contentsecuritypolicy.styleSrc = 'self'
# contentsecuritypolicy.imageSrc = 'self'
# contentsecuritypolicy.baseURI = null
# contentsecuritypolicy.childSrc = null
# contentsecuritypolicy.connectSrc = 'self'
# contentsecuritypolicy.fontSrc = null
# contentsecuritypolicy.formAction = null
# contentsecuritypolicy.frameAncestors = null
# contentsecuritypolicy.frameSrc = null
# contentsecuritypolicy.mediaSrc = null
# contentsecuritypolicy.objectSrc = null
# contentsecuritypolicy.pluginTypes = null
# contentsecuritypolicy.reportURI = null
# contentsecuritypolicy.sandbox = false
# contentsecuritypolicy.upgradeInsecureRequests = false
# contentsecuritypolicy.styleNonceTag = '{csp-style-nonce}'
# contentsecuritypolicy.scriptNonceTag = '{csp-script-nonce}'
# contentsecuritypolicy.autoNonce = true

#--------------------------------------------------------------------
# COOKIE
#--------------------------------------------------------------------

# cookie.prefix = ''
# cookie.expires = 0
# cookie.path = '/'
# cookie.domain = ''
# cookie.secure = false
# cookie.httponly = false
# cookie.samesite = 'Lax'
# cookie.raw = false

#--------------------------------------------------------------------
# ENCRYPTION
#--------------------------------------------------------------------

encryption.key = hex2bin:a548751322ea1cfabea9d6620f4ae0eb1e4b113a85c7632fa9a2ac60036cb4c2
# encryption.driver = OpenSSL
# encryption.blockSize = 16
# encryption.digest = SHA512

#--------------------------------------------------------------------
# HONEYPOT
#--------------------------------------------------------------------

# honeypot.hidden = 'true'
# honeypot.label = 'Fill This Field'
# honeypot.name = 'honeypot'
# honeypot.template = '<label>{label}</label><input type="text" name="{name}" value=""/>'
# honeypot.container = '<div style="display:none">{template}</div>'

#--------------------------------------------------------------------
# SECURITY
#--------------------------------------------------------------------

# security.csrfProtection = 'cookie'
# security.tokenRandomize = false
# security.tokenName = 'csrf_token_name'
# security.headerName = 'X-CSRF-TOKEN'
# security.cookieName = 'csrf_cookie_name'
# security.expires = 7200
# security.regenerate = true
# security.redirect = true
# security.samesite = 'Lax'

#--------------------------------------------------------------------
# LOGGER
#--------------------------------------------------------------------

logger.threshold = 6

#--------------------------------------------------------------------
# CURLRequest
#--------------------------------------------------------------------

# curlrequest.shareOptions = true

#--------------------------------------------------------------------
# EMAIL
#--------------------------------------------------------------------

email_fromName         = 'BlackTyres.ru'
email_fromEmail        = 'no-reply@blacktyres.ru'
email_adminEmails      = 's.suprunov@blacktyres.ru'
email_protocol         = 'smtp'
email_SMTPHost         = 'mail.blacktyres.ru'
email_SMTPUser         = 'dkim@blacktyres.ru'
email_SMTPPass         = 'Z6v3Q4v5'
email_SMTPPort         = 587
email_SMTPTimeout      = 15
email_SMTPCrypto       = ''

#--------------------------------------------------------------------
# CACHE
#--------------------------------------------------------------------
cache.handler = 'file'

#--------------------------------------------------------------------
# AUTH BASIC
#--------------------------------------------------------------------

authbasic_enabled           = true
authbasic_users_apiImport1C = 'user_1c:sdfWFd73ssWOp7h8T8dfdss1Rt56db5Ruxdq4k5659Db4'

#--------------------------------------------------------------------
# DADATA
#--------------------------------------------------------------------

dadata.token  = '293375e9ae409aa7f07db1d5df4aba939623f30a'
dadata.secret = '93ee8377756d08b27d29057b30f781bd9ceb4bbc'


smsc.login = 'btwebauth'
smsc.password = '%Z5&U93Xow'

